<% @posts.each do |post| %>
	<div class="post" style="margin-top: 10px;">
		<div class="text-info">
			<h2><%= link_to post.title, post %></h2>
		</div>
		<div class="text-muted">
			<p>Publicado por <%= post.user.email %> hace <%= distance_of_time_in_words(post.created_at, Time.current)%></p>	
		</div>
		<div>		
			<p class="text-justify"><%= raw Markdown.new(truncate(post.body, :length => 240)).to_html %></p>		
		</div>
		<% if (user_signed_in? && (current_user.id == post.user_id)) %>
			<div class="text-info">
				<i class="far fa-edit"></i><%= link_to ' Editar', edit_post_path(post) %>
				<i class="fas fa-trash-alt"></i><%= link_to ' Eliminar', post, method: :delete, confirm: "¿Estas seguro?" %>
			</div>
		<% end %>
	</div>
<% end %>

